
#
# RPC login details
#
host=127.0.0.1
port=6091

rpcuser=biznatch
rpcpass=ent2017


#
# mining details
#

threads=3

# periodic rate for requesting new work, if solution not found
scantime=60


#
# misc.
#

# not really used right now
logdir=/tmp/pyminer

# set to 1, to enable hashmeter output
hashmeter=1


